@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.bg-content {
    font-family: Arial, Sans-Serif;
    background-image: url("https://img.freepik.com/free-vector/dark-wavy-colors-background_23-2148403785.jpg?w=1060&t=st=1682232881~exp=1682233481~hmac=3740b72c1d6c91398ccfe0e0816440275f412b690bf24dfc671a93c6e1b245c6");
    width: 100vw;
    height: 100vh;
    background-size: cover;

}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.head {
    margin-bottom: 30px;
    color: white;
    font-size: 50px;
    font-style: italic;
    font-family: Monospace;
}

.matter-form {
    display: flex;
    margin-bottom: 20px;
}

.form-input {
    flex: 1;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
}

.button-of-form {
    padding: 10px 20px;
    background-color: blue;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: left;
}

li {
    padding: 10px;
    margin-bottom: 5px;
    background-color: #f5f5f5;
    border-radius: 5px;
}

li button {
    margin-left: 10px;
    background-color: #f44336;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}